asn1crypto==0.24.0
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
configparser==3.5.0b2
cryptography==2.3
Django==2.2.10
django-debug-toolbar==1.11
django-environ==0.4.5
django-rest-framework-proxy==1.6.0
djangorestframework==3.9.3
entrypoints==0.3
enum34==1.1.6
gevent==1.4.0
greenlet==0.4.15
gunicorn==19.9.0
idna==2.6
ipaddress==1.0.17
jeepney==0.4
keyring==17.1.1
keyrings.alt==3.1.1
Markdown==3.0.1
msgpack-python==0.5.6
Pillow==6.2.0
psycopg2-binary==2.8.2
pycparser==2.19
pycrypto==2.6.1
Pygments==2.3.1
python-dateutil==2.8.0
pytz==2019.1
pyxdg==0.26
PyYAML==5.1
requests==2.21.0
SecretStorage==2.3.1
serpy==0.3.1
six==1.12.0
sqlparse==0.3.0
Unidecode==1.0.23
urllib3==1.24.2
